/* header */
.app-header {
  background-color: #2261b3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  gap: 10px;
  color: white;
  padding: 20px;
}

.app-header h2, .app-header h1 {
  margin: 0;
}

.app-header h2 {
  font-weight: normal;
  font-size: 36px;
}

p.app-header {
  min-height: auto;
  margin-top: 4px;
  margin-bottom: 4px;
  font-size: calc(5px + 2vmin);
}

/* middle */
div.categories-container {
  margin-bottom: 8px;
}

/*Comment section */
.Comment-section {
  align-items: center;
  flex-direction: column;
  margin-bottom: 4px;
  display: flex;
}

/* footer */
.app-footer {
  background-color: #2261b3;
  min-height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(3px + 1vmin);
  color: white;
}

p.signature {
  margin: 16px;
  font-size: small;
}
